<div class="container">
  <h1 class="text-center pt-5">ようこそ！Stamp Bon Voyageへ！</h1>
  <%= image_tag 'top', class: 'img-fluid mt-2' %>
  <div class="row row-center mt-5 pt-5">
    <div class="col-md-4 m-auto">
        <%= image_tag 'ham2', size: '200x200', class: 'mx-auto d-block' %>
    </div>
    <div class="card col-md-8">
      <p>おや？見かけない顔じゃのう。<br>
         ここでは君が好きなようにスタンプラリーを作れる世界じゃ。<br>
         ん、なんじゃ？その目はわしを「なんだこれ？」と思ったじゃろ。<br>
         わしはこのアプリを作った人間に飼われておったハムスターじゃ。<br>
         猫と聞こえたが、寛大な心で聞かなかったことにしておこう。<br>
         とりあえず、この世界で作られたみんなのスタンプラリーでも覗くのじゃな。<br>
         フォッフォッフォッ。</p>
    </div>
  </div>
  <div class="d-flex row mt-3">
    <div class="text-center">
      <%= link_to "みんなのスタンプラリを覗く", stamp_rallies_path, class: 'btn btn-info', style: 'width: 300px;' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-center mt-5 pt-5">
    <div class="card col-md-8 pt-3">
      <p>なんじゃ！<br>
         ふむふむ、スタンプラリーの作成したいけどわからんと、、、<br>
         すまんのぉ。わしの飼い主が説明しとらんのじゃろ。<br>
         わしが最後に見た時も生活がズポラじゃったからに、、、<br>
         このアプリにも顕著に出ておる。<br>
         今頃、気にせずにオタ活でもしているのじゃろうな、あやつのことじゃ。<br>
         ふむ、良かろう。わしが説明を以下にするぞ！</p>
    </div>
    <div class="col-md-4 m-auto">
      <%= image_tag 'ham3', size: '200x200', class: 'mx-auto d-block' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-center mt-5 pt-5">
    <h3>スタンプの設置方法</h3>
    <div class="col-md-4 m-auto">
      <%= image_tag 'ham3', size: '200x200', class: 'mx-auto d-block' %>
    </div>
    <div class="card col-md-8 pt-3">
      <p>スタンプの設置方法じゃが、最初は網走監獄に最初はピンが立っておるじゃろ？<br>
         その上に検索するところがある。<br>
         そこにアドレスや地名、店舗名などを入力するのじゃ。<br>
         店舗名は〇〇店まで書く必要があるぞ！<br>
         そしたら、自動的にスタンプラリーの設置場所の緯度と軽度を送ってくれる。<br>
         他は必要な部分を入力して登録するだけじゃ！</p>
    </div>
  <%= image_tag 'description1', class: 'pt-3' %>
  <%= image_tag 'description2', class: 'pt-3' %>
  </div>
</div>
