<button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-expanded="false" aria-controls="offcanvasNavbar" aria-label="ナビゲーションの切替">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
        <%= current_user.name %>
      </h5>
        <%= link_to "編集", edit_user_registration_path(current_user) %>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="閉じる"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <%= link_to 'スタンプラリー一覧', root_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "スタンプアルバム", stamps_path,
                    class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "スタンプラリー新規作成", new_stamp_rally_path,
                    class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to t('defaults.logout'), destroy_user_session_path, 
                    data: { "turbo-method": :delete },
                    class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "プライバシーポリシー", privacy_policy_path,
                    class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "利用規約", site_policy_path,
                    class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "お問い合わせ", "https://forms.gle/QvBf7dt52XZHJUnF6",
                    class: "nav-link active" %>
      </li>
    </ul>
  </div>
</div>
