<div class="col-sm-12 col-lg-4 mb-3 d-flex justify-content-center">
  <div class="card" style="width: 300px; height: 400px;" data-id="<%= stamp_rally.id %>" data-stamps='<%= stamp_rally.stamps.to_json %>'>
    <%= image_tag stamp_rally.image.url, class: 'card-img-top', style: 'max-width: 100%; height: auto;' %>
    <div class="card-body">
      <h4 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
        <%= link_to stamp_rally.title, stamp_rally_path(stamp_rally),
            style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; display: block;' %>
      </h4>
      <ul class="list-inline">
        <li class="list-inline-item">
          <i class="fas fa-user" style='color: #8FBC8F;'></i>
          <%= stamp_rally.user.name %>
        </li>
        <li class="list-inline-item">
          <i class="fas fa-calendar" style='color: #8FBC8F;'></i>
          <%= l stamp_rally.updated_at, format: :long %>
        </li>
      </ul>
      <p class="card-text" style="overflow: hidden; max-height: 3em; line-height: 1.5em;">
        <%= stamp_rally.description %>
      </p>
      <% if stamp_rally.tags.present? %>
        <div class="mb-3">
          <%= render 'tags', stamp_rally: stamp_rally %>
        </div>
      <% end %>
    </div>
  </div>
</div>
