<div class="container mt-5 stamp-rally-show-page">
  <div class="row pt-3 mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%=  %></h1>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <%= image_tag @stamp_rally.image.url, class: "card-img-top img-fluid", size: '300x200' %>
            </div>
            <div class="col-md-6">
              <h3 style="display: inline;"><%= @stamp_rally.title %></h3>
              <ul class="list-inline">
                <li class="list-inline-item"><%= @stamp_rally.user.name %></li>
                <li class="list-inline-item"><%= l @stamp_rally.updated_at, format: :long %></li>
              </ul>
            </div>
            <div class="col-md-3">
              <%= render 'participation_button' %>
            </div>
          </div>
          <p><%= simple_format(@stamp_rally.description) %></p>
        </div>

        <% @stamp_rally.stamps.each_with_index do |stamp, index| %>
          <h5>スタンプ名：<%= stamp.name %></h5>
          <div id="map-show-<%= index %>" style="height:400px; width:100%; margin-bottom: 20px;"></div>
        <% end %>

        <script>
          window.stamps = <%= @stamp_rally.stamps.map { |stamp| { latitude: stamp.latitude, longitude: stamp.longitude } }.to_json.html_safe %>;
        </script>
      </div>
    </div>
  </div>
</div>
