<div class="container mt-5 stamp-rally-show-page">
  <div class="row pt-3 mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1>スタンプラリー詳細</h1>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3" data-id="<%= @stamp_rally.id %>" data-stamps='<%= @stamp_rally.stamps.to_json %>'>
              <%= image_tag @stamp_rally.image.url, class: "card-img-top img-fluid", size: '300x200' %>
            </div>
            <div class="col-md-6">
              <h3><%= @stamp_rally.title %></h3>
              <ul class="list-inline">
                <li class="list-inline-item"><%= @stamp_rally.user.name %></li>
                <li class="list-inline-item"><%= l @stamp_rally.updated_at, format: :long %></li>
              </ul>
            </div>
            <div class="col-md-3">
              <%= render 'participation_button' %>
            </div>
          </div>
          <p><%= simple_format(@stamp_rally.description) %></p>
        </div>
        <% @stamp_rally.stamps.each_with_index do |stamp, index| %>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <h5 class="flex-grow-1 mb-0">スタンプ名：<%= stamp.name %></h5>
            <% if user_signed_in? && current_user.participate?(@stamp_rally) && !current_user.get?(stamp) %>
              <div data-stamp-id="<%= stamp.id %>" data-stamp='<%= stamp.to_json %>'>
                <button onclick="getLocationAndDisplayStamps(<%= @stamp_rally.id %>, <%= stamp.id %>)", id="get-location-btn-<%= stamp.id %>", class="btn btn-info me-4">スタンプゲット</button>
              </div>
              <script>
                var alreadyAcquiredStamps = <%= current_user.acquired_stamp_ids.to_json.html_safe %>;
              </script>
            <% end %>
          </div>
          <% if user_signed_in? && current_user.get?(stamp) %>
            <div class="d-flex align-items-center justify-content-center my-3" style="height: 200px;">
              <%= image_tag stamp.sticker.url, size: '200x200', class: 'rounded-circle' %>
            </div>
          <% else %>
            <div id="map-show-<%= index %>" style="height:400px; width:100%; margin-bottom: 20px;"></div>
          <% end %>
        <% end %>
        <script>
          window.stamps = <%= @stamp_rally.stamps.map { |stamp| { latitude: stamp.latitude, longitude: stamp.longitude } }.to_json.html_safe %>;
        </script>
      </div>
    </div>
  </div>
</div>
